@font-face{
    font-family:Lato-Black;
    src:url(Lato-Black.ttf);
}

@font-face{
    font-family:Lato-BlackItalic;
    src:url(Lato-BlackItalic.ttf);
}

@font-face{
    font-family:Lato-Bold;
    src:url(Lato-Bold.ttf);
}

@font-face{
    font-family:Lato-BoldItalic;
    src:url(Lato-BoldItalic.ttf);
}

@font-face{
    font-family:Lato-HairlineItalic;
    src:url(Lato-HairlineItalic.ttf);
}

@font-face{
    font-family:Lato-Italic;
    src:url(Lato-Italic.ttf);
}

@font-face{
    font-family:Lato-Light;
    src:url(Lato-Light.ttf);
}

@font-face{
    font-family:Lato-LightItalic;
    src:url(Lato-LightItalic.ttf);
}

@font-face{
    font-family:Lato-Regular;
    src:url(Lato-Regular.ttf);
}

@font-face{
    font-family:Bodoni72;
    src:url(Bodoni72.ttc);
}

@font-face{
    font-family:Bodoni72OS;
    src:url(Bodoni72OS.ttc);
}

@font-face{
    font-family:Bodoni72SmallcapsBook;
    src:url(Bodoni72SmallcapsBook.ttf);
}