.section.blog{
    padding:50px 0px;
}

.section.blog .container .row > div{
    padding:0px 40px;
}

.section.blog .container .row > div .thumbnail{
    border:none;
    width:100%;
    padding:0px;
    border-radius:0px;
}

.section.blog .container .row > div .thumbnail .image{
    border:none;
    width:100%;
    height:100px;
    background-size:cover;
    padding:0px;
    border-radius:0px;
}

.section.blog .container .row > div .thumbnail .image .overlay{
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.4);
    transition:0.5s;
    padding:10px 20px;
}

.section.blog .container .row > div .thumbnail .image .overlay h3{
    font-size: 24px;
    font-weight: 500;
    color: #ffffff;
}

.section.blog .container .row > div .thumbnail .image:hover .overlay{
    background:rgba(0,0,0,0.2);
    transition:0.5s;
}

.section.blog .container .row > div .thumbnail .caption{
    padding:10px 0px;
}

.section.blog .container .row > div .thumbnail .caption p{

}

.section.blog .container .row > div .thumbnail .caption .read-more{
    color:#444;
    text-decoration:underline;
}

.section.blog .container  .pagination{
    width:100%;
    text-align:center;
}

.section.blog .container  .pagination ul{
    list-style:none;
}

.section.blog .container  .pagination ul li{
    display:inline;
    transition:0.3s;
}

.section.blog .container  .pagination ul li a{
    padding:5px 10px;
    font-size:18px;
    background:transparent;
    border:2px solid #58b7bf;
    color:#03a5ab;
    text-decoration:none;
    transition:0.3s;
}

.section.blog .container  .pagination ul li a:hover,
.section.blog .container  .pagination ul li.active a{
    background:#58b7bf;
    color:#fff;
    transition:0.3s;
}