.carrinho .row:not(.form-group){
    border-bottom:1px solid #58b7bf;
    margin-bottom:15px;
    margin:0px;
}

.carrinho .row:not(.form-group) > div{
    padding:15px 0px;
}

.carrinho .row:not(.form-group):last-child{
    margin-bottom:100px;
    border:none;
}

.carrinho .container > .btn + .btn{
    margin-right:20px;
    margin-bottom:40px;
    margin-top:40px;
}

.carrinho .container > .btn{
    margin-bottom:40px;
    margin-top:40px;
}