.section.contato{
    padding:50px 0px;
}

.section.contato .container > .row > div:first-child{
    border-right:3px solid #58b7bf;
}

.section.contato .container > .row > div:first-child p{
    font-family: Lato-Regular;
    font-size: 20px;
    font-weight: normal;
    color: #000000;
    margin:15px 0px;
}

.section.contato