
.steps{
    margin-bottom:100px;
    list-style:none;
    display:flex;
    justify-content:center;
    flex-direction:row-reverse;
    font-weight: 900;
}

.steps .step{
    width:90px;
    height:90px;
    border-radius:50%;
    margin-right:200px;
    font-size:16px;
    background:#b4e5e9;
    display:flex;
    justify-content:center;
    align-items:center;
}

.steps .step span{
    color:#b4e5e9;
    background:transparent;
    font-size:90px;
    margin-top:-10px;
    text-decoration:none;
}

.steps .step:after{
    content:"";
    position:absolute;
    z-index:-1;
    margin-left:150px;
    height:3px;
    width:240px;
    display:block;
    background:#b4e5e9;
}

.steps .step:first-child{
    margin:0px;
}

.steps .step:first-child:after{
    display:none;
}

.steps .step h3{
    position:absolute;
    margin-top:60px;
    text-align:center;
    font-size:16px;
    font-style: italic;
    /*display:none;*/
}

.steps .step small{
    position:absolute;
    margin-top:90px;
    text-align:center;
    font-size:14px;
    /*display:none;*/
}

/* Busca os elementos anteriores e faz o hover deles também. */
/*~~ WARNING: Não mude isso !! ~~*/

.steps .step.active ~ .step:after {
    font-weight:bold;
    background:#58b7bf;
    transition:0.3s;
}

.steps .step.active,
.steps .step.active ~ .step{
    color:#fff;
    background:#58b7bf;
}

.steps .step.active span,
.steps .step.active ~ .step span{
    color:#fff;
}

.steps .step.active h3,
.steps .step.active ~ .step h3 {
    font-weight:bold;
    color:#444;
}

.steps .step.active ~ .step:first-child:after{
    background:transparent;
}