
/*~~ Mine - Jumbotron ~~*/

.jumbotron{
    margin-bottom:0px;
}

.jumbotron .container{
    width:93%;
    margin-top:50px;
}

.jumbotron h2{
    font-family: Lato-Light;
    font-size: 52px;
    margin:0px;
}

.jumbotron h1{
    font-family: Bodoni72SmallcapsBook;
    font-size: 90px;
    margin:0px;
    padding-top:20px;
}

.jumbotron h1:after{
    content:"";
    width:60%;
    height:2px;
    margin:20px 0px;
    display:block;
    background:#fff;
}

.jumbotron .btn-outline .fa{
    font-size:32px;
    margin-left:10px;
    vertical-align:bottom;
}

/*~~ Title ~~*/

.half-bg{
    position:relative;
    left:0px;
    display:flex;
    justify-content:center;
    margin-top:65px;
    margin-bottom:100px;
}

.half-bg h3{
    padding:20px 80px;
    font-size:90px;
    font-family: Bodoni72SmallcapsBook;
    text-transform:uppercase;
    font-size: 52px;
    color: #000000;
    margin-top:-90px;
}

.half-bg div:before{
    content:"";
    display:block;
    background:#88e1e9;
    width:50%;
    height:100px;
}

/*~~ Background Step ~~*/

.home .steps{
    flex-direction:column !important;
}

.home-steps{
    flex-direction:row !important;
}

.steps > div{
    background-size:auto 70%;
    background-repeat:no-repeat;
    /*height:300px;*/
    padding:0px 15px;
    margin-bottom:100px;
}

.steps p{
    margin-top:100px;
    font-family: Roboto;
    font-size: 20px;
    text-align: left;
    color: #000000;
}

/*~~ Sections ~~*/

.section.bg{
    background-size:100% auto;
    background-repeat:no-repeat;
    height:300px;
    width:100%;
}

.row.has-post{
    margin:0px;
}

/*~~ Posts ~~*/

.posts{
    padding:0px 10px;
    overflow-y:auto;
    height:800px;
    /*font-family: 'Roboto', sans-serif;*/
    /*font-family: 'Roboto Condensed', sans-serif;*/
    /*font-family: 'Roboto Slab', serif;*/
    font-family: 'Roboto Mono', monospace;
}

.posts::-webkit-scrollbar{
    width:10px;
}

.posts::-webkit-scrollbar-thumb{
    border-radius:10px;
    background:#88e1e9;
}

.posts .post .header{
    padding:20px;
    border-top:1px solid #88e1e9;
}

.no-scroll{
    overflow:initial !important;
    height:initial;
}

.posts .post .header .actions{
    float:right;
}

.posts .post .header .fa-ellipsis-h{
    cursor:pointer;
    color:#b7b7b7;
    margin: 0px;
    margin-top: 15px;
    margin-right: 15px;
}

.posts .post .header .fa-ellipsis-h + ul{
    position:absolute;
    list-style:none;
    margin-top: 5px;
    right:62px;
    display:none;
    /*display:flex;*/
    justify-content:center;
    flex-direction:column;
}

.posts .post .header .fa-ellipsis-h + ul li{
    display:block;
    text-align:center;
    color:#fff;
    padding:15px 25px;
    background:#5cc6d0;
    white-space:nowrap;
    cursor:pointer;
}

.posts .post .header .fa-ellipsis-h + ul li:not(:last-child){
    border-bottom:1px solid #fff;
}

.posts .post .header .fa-ellipsis-h + ul:before{
    content:"";
    margin-left:55px;
    position:relative;
    top:-15px;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #5cc6d0;
}

.posts .post .header .avatar{
    width:50px;
    height:50px;
    background:#88e1e9;
    border-radius:50%;
    overflow:hidden;
    float:left;
    margin-right:20px;
}

.posts .post .header .avatar img{
    width:50px;
    height:50px;
    object-fit:cover;
}

.posts .post .header .info{
    float:left;
}

.posts .post .header .time{
    float:right;
    margin-top:5px;
}

.posts .post .body .content{
    padding:0px 15px;
}

.posts .post .body .content .actions p{
    display:block;
    margin:0px;
}

.posts .post .fa{
    font-size:28px;
    margin:10px 0px;
}

.posts .post .comment{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    text-align: left;
    color: #1c1c1c;
}

.posts .post p{
    margin:0px;
}

.posts .post .view-all-comments{
    margin:20px 0px;
}

.posts .post .form-control.type-02{
    margin-top:10px;
    margin-bottom:20px;
}

/*~~ Salões Conveniados ~~*/

.stars{
    list-style:none;
    font-size:16px;
    display:flex;
    flex-direction:row-reverse;
    justify-content:flex-end;
    /*color:#f5a623;*/
}

.stars li:not(:last-child){
    margin-left:5px;
}

.stars li.active,
.stars li.active .fa,
.stars li.active ~ li,
.stars li.active ~ li .fa,
.stars li.active ~ li:after {
    color:#f5a623;
    transition:0.3s;
}

.conveniados{
    height:1000px;
    margin:0px;
}

.conveniados .form-control.type-03{
    font-size:14px;
    margin-bottom:20px;
}

.conveniados > div{
    height:100%;
}

.conveniados > div:first-child h4{
    margin:40px 0px 20px 0px;
}

.conveniados .lojas{
    padding-bottom:80px;
    padding-left:80px;
    padding-right:30px;
    height:90%;
}

.conveniados .lojas .scrollable{
    padding-bottom:20px;
}

.conveniados .lojas .thumbnail{
    padding:0px;
    border:none;
}

.conveniados .lojas .thumbnail img{
    width:100%;
    height:180px;
    object-fit:cover;
}

.conveniados .lojas .thumbnail .caption{
    padding:10px 0px;
}

.conveniados .lojas .thumbnail .caption .stars{
    margin:5px 0px;
}

.conveniados .lojas .thumbnail .caption h5{
    font-size:16px;
    color:#595959;
    font-weight:bold;
}

.conveniados .lojas .thumbnail .caption p{
    font-size:14px;
    color:#4a4a4a;
}

.conveniados .lojas .thumbnail .caption .contact p{
    margin-right:10px;
}

.conveniados .lojas .thumbnail .caption .fa-map-marker,
.conveniados .lojas .thumbnail .caption .fa-phone{
    color:#5cc6d0;
}

.conveniados .lojas .thumbnail .caption .fa-whatsapp{
    color:#2cb742;
}

.conveniados > div:last-child{
    padding:0px;
}