.meus-pedidos .pagination{
    width:100%;
    text-align:center;
}

.meus-pedidos .pagination ul{
    list-style:none;
}

.meus-pedidos .pagination ul li{
    display:inline;
    transition:0.3s;
}

.meus-pedidos .pagination ul li a{
    padding:5px 10px;
    font-size:18px;
    background:transparent;
    border:2px solid #58b7bf;
    color:#03a5ab;
    text-decoration:none;
    transition:0.3s;
}

.meus-pedidos .pagination ul li a:hover,
.meus-pedidos .pagination ul li.active a{
    background:#58b7bf;
    color:#fff;
    transition:0.3s;
}