.minha-conta-convenio{
    margin:0px;
    height:1180px;
}

.minha-conta-convenio > div{
    height:100%;
}

.minha-conta-convenio > div:last-child{
    padding-right:0px;
}

.minha-conta-convenio > div:first-child{
    padding:40px 80px 40px 80px;
}

.minha-conta-convenio > div:last-child h5{
    margin:40px 0px 20px 0px;
}

.minha-conta-convenio > div:last-child iframe{
    height:calc(100% - 86px);
}

.minha-conta-convenio > .form-lg label{
    font-size:18px;
}

.minha-conta-convenio .account-info table tr th,
.minha-conta-convenio .account-info table tr td{
    padding-right:20px;
}

.minha-conta-convenio .account-info table tr td:first-child{
    color:#417505;
}

.minha-conta-convenio .account-info table tr td:last-child{
    color:#d0021b;
}

.minha-conta-convenio .account-info .menu a{
    display:block;
    text-decoration:underline;
    color:#000;
    margin-bottom:5px;
}

.second-section{
    height:239px !important;
}