.minha-conta.section{
    padding:50px 0px;
    display:flex;
    align-items:center;
}

.minha-conta.section .logo .image img{
    width:200px;
}

.minha-conta.section > .row{
    margin:0px;
}

.minha-conta.section > .row > div:last-child p{
    margin-bottom:20px;
    font-size: 16px;
    color: #000000;
}

.minha-conta.section > .row > div:last-child .btn{
    font-weight:bold;
}

.minha-conta.section .read-terms{
    height:250px;
    padding:20px;
    border:2px solid #58b7bf;
    margin-bottom:20px;
}

.minha-conta.section h5{
    font-family: Lato-Regular;
    font-size: 20px;
    color: #000000;
    margin-bottom:25px;
}

.minha-conta.section .form-lg label{
    font-size: 18px;
    color: #595959;
}

.minha-conta.section .form-group.row{
    margin-left:-15px;
    margin-right:-15px;
}

.minha-conta.section .form-lg:nth-child(3),
.minha-conta.section .form-lg:nth-child(4){
    margin-top:40px;
}

.minha-conta.section .form-lg .right-v-center {
    text-align: right;
    line-height: 90px;
}


.minha-conta.section .form-lg:last-child .input-group.type-03.lg .form-control-static{
    padding:5px 20px;
}

.minha-conta.section .images.photos,
.minha-conta.section .images.banners{
    list-style:none;
    display:flex;
    flex-wrap:wrap;
}

.minha-conta.section .images.photos li{
    width:16.333333333%;
    margin-bottom:10px;
}

.minha-conta.section .images.photos li img{
    width:100%;
    height:60px;
    object-fit:cover;
    padding:5px;
    cursor:pointer;
}

.minha-conta.section .images.banners li{
    width:33.33333333%;
    margin-bottom:10px;
}

.minha-conta.section .images.banners li img{
    width:100%;
    height:120px;
    object-fit:cover;
    padding:5px;
    cursor:pointer;
}

.minha-conta.section .images.photos li i,
.minha-conta.section .images.banners li i{
    position:absolute;
    padding:3px 4px;
    border-radius:50%;
    font-size:11px;
    background:#ce3333;
    color:#fff;
    cursor:pointer
}

.minha-conta.section .images.photos li i{
    margin-left:59px;
    margin-top:-8px;
}

.minha-conta.section .images.banners li i{
    margin-left:128px;
    margin-top:-8px;
}

.minha-conta.section .mudar-plano{
    font-size: 18px;
    color: #000000;
    text-decoration:underline;
}