.datepicker table thead tr:nth-child(2) th{
    font-family: UniNeueHeavyItalic;
}

.datepicker table thead tr:nth-child(3) th{
    background:#12aab0;
    color:#fff;
    border-radius:0px;
    padding:5px 10px;
}

.datepicker table thead tr:nth-child(3) th:first-child{
    border-left:1px solid #12aab0;
}

.datepicker table thead tr:nth-child(3) th:last-child{
    border-right:1px solid #12aab0;
}

.datepicker table tbody tr:last-child td{
    border-bottom:1px solid #c8c8c8;
}

.datepicker table thead tr:nth-child(2) th{
    border-top:1px solid #c8c8c8;
}

.datepicker table thead tr th,
.datepicker table tbody tr td{
    padding:5px !important;
    height:initial !important;
    border-bottom:none;
    border:none;
}

.datepicker table tbody tr td{
    border-radius:50%;
}

.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:hover.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active:hover.disabled,
.datepicker table tr td.active.disabled.disabled,
.datepicker table tr td.active.disabled:hover.disabled,
.datepicker table tr td.active[disabled],
.datepicker table tr td.active:hover[disabled],
.datepicker table tr td.active.disabled[disabled],
.datepicker table tr td.active.disabled:hover[disabled]{
    background-color:#12aab0 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button{
    border:1px solid #ddd;
    border-radius:0px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    border-color:#979797;
    background:#979797;
    color:#fff !important;
}

.fake-slider .thumbnail{
    height:250px;
    font-size:56px;
}

.fake-slider .thumbs{
    display:flex;
    justify-content: space-between;
}

.fake-slider .thumbs .thumb{
    width:22%;
    height:90px;
    font-size:24px;
}

.fake-slider .fa-close{
    position:absolute;
    font-size:14px;
    margin-top:-10px;
    margin-left:18%;
    color:#d04653;
    -webkit-box-shadow: 0px 3px 10px #777;
    -moz-box-shadow: 0px 3px 10px #777;
    box-shadow: 0px 3px 10px #777;
    padding:4px 5px;
    border-radius:50%;
}

.fake-slider .thumbnail .fa-close{
    margin-left:initial;
    right:5px;
}

.fake-slider .upload.type-01{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height:100%;
    object-fit:cover;
    background:#d8d8d8;
    color:#8d8d8d;
    border-radius:10px;
}

.fake-slider img{
    width:100%;
    height:100%;
    object-fit:cover;
}