.pessoa-juridica-cadastre-se{
    padding:50px 0px;
    display:flex;
    align-items:center;
}

.pessoa-juridica-cadastre-se .logo .image img{
    width:200px;
}

.pessoa-juridica-cadastre-se > .row{
    margin:0px;
}

.pessoa-juridica-cadastre-se > .row > div:last-child p{
    margin-bottom:20px;
    font-size: 16px;
    color: #000000;
}

.pessoa-juridica-cadastre-se > .row > div:last-child .btn{
    font-weight:bold;
}

.pessoa-juridica-cadastre-se .read-terms{
    height:250px;
    padding:20px;
    border:2px solid #58b7bf;
    margin-bottom:20px;
}

.pessoa-juridica-cadastre-se h5{
    font-family: Lato-Regular;
    font-size: 20px;
    color: #000000;
    margin-bottom:25px;
}

.pessoa-juridica-cadastre-se .form-lg label{
    font-size: 18px;
    color: #595959;
}

.pessoa-juridica-cadastre-se .form-group.row{
    margin-left:-15px;
    margin-right:-15px;
}

.pessoa-juridica-cadastre-se .form-lg:nth-child(3),
.pessoa-juridica-cadastre-se .form-lg:nth-child(4){
    margin-top:40px;
}

.pessoa-juridica-cadastre-se .form-lg .right-v-center {
    text-align: right;
    line-height: 90px;
}


.pessoa-juridica-cadastre-se .form-lg:last-child .input-group.type-03.lg .form-control-static{
    padding:5px 20px;
}

.pessoa-juridica-cadastre-se .images.photos,
.pessoa-juridica-cadastre-se .images.banners{
    list-style:none;
    display:flex;
    flex-wrap:wrap;
}

.pessoa-juridica-cadastre-se .images.photos li{
    width:16.333333333%;
    margin-bottom:10px;
}

.pessoa-juridica-cadastre-se .images.photos li img{
    width:100%;
    height:60px;
    object-fit:cover;
    padding:5px;
}

.pessoa-juridica-cadastre-se .images.banners li{
    width:33.33333333%;
    margin-bottom:10px;
}

.pessoa-juridica-cadastre-se .images.banners li img{
    width:100%;
    height:120px;
    object-fit:cover;
    padding:5px;
}