.pessoa-fisica-cadastre-se{
    margin:0px;
    height:1580px;
}

.pessoa-fisica-cadastre-se > div{
    height:100%;
}

.pessoa-fisica-cadastre-se > div:last-child{
    padding-right:0px;
}

.pessoa-fisica-cadastre-se > div:first-child{
    padding:40px 80px 40px 80px;
}

.pessoa-fisica-cadastre-se > .form-lg label{
    font-size:18px;
}

.pessoa-fisica-cadastre-se .lojas .info{
    margin-top:20px;
}

.pessoa-fisica-cadastre-se .lojas .info h5{
    font-size: 18px;
    font-weight: bold;
    line-height: 1.67;
    color: #595959;
}

.pessoa-fisica-cadastre-se .lojas .info h5.green{
    color: #417505;
}

.pessoa-fisica-cadastre-se .lojas .info h5.third{
    color: #d0021b;
}