.section.planos{
    padding:40px 0px;
}

.section.planos article{
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
    color: #595959;
    margin:30px 0px;
}

.section.planos .row{
    margin:0px;
}

.section.planos .container > p{
    font-size: 20px;
    line-height: 1.5;
    color: #000000;
}

.plano{
    border:2px solid #58b7bf;
    padding:20px;
    margin:40px 0px;
}

.plano .title{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #5cc6d0;
}

.plano .items{
    list-style:none;
}

.plano .items li{
    border-bottom:1px solid #58b7bf;
    font-family:Lato-Light;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #686868;
    padding:10px;
}

.plano .price{
    font-size: 36px;
    text-align: center;
    color: #5cc6d0;
}