.conveniado{
    margin:0px;
    height:700px;
}

.conveniado > div{
    height:100%;
}

.conveniado > div:last-child{
    padding-right:0px;
}

.conveniado > div:first-child{
    padding:40px 80px 40px 80px;
}

.conveniado .slick.slider-for img{
    width:100%;
    height:350px;
    object-fit:cover;
}

.conveniado .slick.slider-nav img{
    width:80px;
    height:80px;
    object-fit:cover;
}

.conveniado .stars{
    margin:5px 0px;
    font-size:20px;
}

.conveniado h5{
    font-size:24px;
    color:#595959;
    font-weight:bold;
}

.conveniado h5 strong{
    font-family: Lato-Regular;
    font-size: 24px;
    color: #707070;
    cursor:pointer;
    text-decoration:underline;
}

.conveniado p{
    font-size:20px;
    color:#4a4a4a;
}

.conveniado .contact p{
    margin-right:10px;
}

.conveniado .fa-map-marker,
.conveniado .fa-phone{
    color:#5cc6d0;
}

.conveniado .fa-whatsapp{
    color:#2cb742;
}