.section.sobre{
    padding:40px 0px;
}

.section.sobre .container .row:first-child > div:last-child > p{
    font-size: 20px;
    font-weight: 300;
    color: #000000;
}

.section.sobre .container .row:last-child > div{
    padding-right:40px;
}

.section.sobre .container .row:last-child > div p{
    font-size: 20px;
    font-weight: 300;
    line-height: 1.4;
    color: #595959;
}

.section.sobre .container .image,
.section.sobre .container .image img{
    width:100%;
    object-fit:cover;
}

.section.sobre .container .row:last-child > div .half-bg{
    margin-bottom:30px;
    justify-content:flex-start;
}

.section.sobre .container .row:last-child > div .half-bg div:before{
    height:60px;
}

.section.sobre .container .row:last-child > div .half-bg h5{
    margin-top: -50px;
    padding: 0px 40px;
    font-family: Bodoni72SmallcapsBook;
    font-size: 36px;
}