@import url('bootstrap.css');
@import url('plugins/main.css');
@import url('fonts/fonts.css');
@import url('pages/main.css');
@import url('webgreater/main.css');
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Roboto+Mono|Roboto+Slab');

*{
    margin:0px;
    padding:0px;
    text-decoration:none;
}

/*~~ Fonts ~~*/

/*font-family: 'Roboto', sans-serif;*/
/*font-family: 'Roboto Condensed', sans-serif;*/
/*font-family: 'Roboto Slab', serif;*/
/*font-family: 'Roboto Mono', monospace;*/


@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('material-icons/MaterialIcons-Regular.eot'); /* For IE6-8 */
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url('material-icons//MaterialIcons-Regular.woff2') format('woff2'),
    url('material-icons//MaterialIcons-Regular.woff') format('woff'),
    url('material-icons//MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

/*~~ Fonts ~~*/

/*~~ Utilidades ~~*/

.section.grey{
    background:#fafafa;
}

body{
    font-family: 'Roboto', sans-serif;
}

.no-border{
    border:none !important;
}

h3.default{
    color:#58b7bf;
    font-weight:bold;
}

.m-t-10{  margin-top:10px; }
.m-t-20{  margin-top:20px; }
.m-t-30{  margin-top:30px; }
.m-t-40{  margin-top:40px; }
.m-t-50{  margin-top:50px; }
.m-t-60{  margin-top:60px; }
.m-t-70{  margin-top:70px; }
.m-t-90{  margin-top:90px; }
.m-t-100{ margin-top:100px; }

.m-b-10{  margin-bottom:10px; }
.m-b-20{  margin-bottom:20px; }
.m-b-30{  margin-bottom:30px; }
.m-b-40{  margin-bottom:40px; }
.m-b-50{  margin-bottom:50px; }
.m-b-60{  margin-bottom:60px; }
.m-b-70{  margin-bottom:70px; }
.m-b-90{  margin-bottom:90px; }
.m-b-100{ margin-bottom:100px; }

.m-l-10{  margin-left:10px; }
.m-l-20{  margin-left:20px; }
.m-l-30{  margin-left:30px; }
.m-l-40{  margin-left:40px; }
.m-l-50{  margin-left:50px; }
.m-l-60{  margin-left:60px; }
.m-l-70{  margin-left:70px; }
.m-l-90{  margin-left:90px; }
.m-l-100{ margin-left:100px; }

.m-r-10{  margin-right:10px; }
.m-r-20{  margin-right:20px; }
.m-r-30{  margin-right:30px; }
.m-r-40{  margin-right:40px; }
.m-r-50{  margin-right:50px; }
.m-r-60{  margin-right:60px; }
.m-r-70{  margin-right:70px; }
.m-r-90{  margin-right:90px; }
.m-r-100{ margin-right:100px; }

.m-v-10{  margin-top:10px;  margin-bottom:10px; }
.m-v-20{  margin-top:20px;  margin-bottom:20px; }
.m-v-30{  margin-top:30px;  margin-bottom:30px; }
.m-v-40{  margin-top:40px;  margin-bottom:40px; }
.m-v-50{  margin-top:50px;  margin-bottom:50px; }
.m-v-60{  margin-top:60px;  margin-bottom:60px; }
.m-v-70{  margin-top:70px;  margin-bottom:70px; }
.m-v-90{  margin-top:90px;  margin-bottom:90px; }
.m-v-100{ margin-top:100px; margin-bottom:100px; }

.m-h-10{  margin-left:10px;  margin-right:10px; }
.m-h-20{  margin-left:20px;  margin-right:20px; }
.m-h-30{  margin-left:30px;  margin-right:30px; }
.m-h-40{  margin-left:40px;  margin-right:40px; }
.m-h-50{  margin-left:50px;  margin-right:50px; }
.m-h-60{  margin-left:60px;  margin-right:60px; }
.m-h-70{  margin-left:70px;  margin-right:70px; }
.m-h-90{  margin-left:90px;  margin-right:90px; }
.m-h-100{ margin-left:100px; margin-right:100px; }

.p-t-10{  padding-top:10px; }
.p-t-20{  padding-top:20px; }
.p-t-30{  padding-top:30px; }
.p-t-40{  padding-top:40px; }
.p-t-50{  padding-top:50px; }
.p-t-60{  padding-top:60px; }
.p-t-70{  padding-top:70px; }
.p-t-90{  padding-top:90px; }
.p-t-100{ padding-top:100px; }

.p-b-10{  padding-bottom:10px; }
.p-b-20{  padding-bottom:20px; }
.p-b-30{  padding-bottom:30px; }
.p-b-40{  padding-bottom:40px; }
.p-b-50{  padding-bottom:50px; }
.p-b-60{  padding-bottom:60px; }
.p-b-70{  padding-bottom:70px; }
.p-b-90{  padding-bottom:90px; }
.p-b-100{ padding-bottom:100px; }

.p-l-10{  padding-left:10px; }
.p-l-20{  padding-left:20px; }
.p-l-30{  padding-left:30px; }
.p-l-40{  padding-left:40px; }
.p-l-50{  padding-left:50px; }
.p-l-60{  padding-left:60px; }
.p-l-70{  padding-left:70px; }
.p-l-90{  padding-left:90px; }
.p-l-100{ padding-left:100px; }

.p-r-10{  padding-right:10px; }
.p-r-20{  padding-right:20px; }
.p-r-30{  padding-right:30px; }
.p-r-40{  padding-right:40px; }
.p-r-50{  padding-right:50px; }
.p-r-60{  padding-right:60px; }
.p-r-70{  padding-right:70px; }
.p-r-90{  padding-right:90px; }
.p-r-100{ padding-right:100px; }

.p-v-10{  padding-top:10px;  padding-bottom:10px; }
.p-v-20{  padding-top:20px;  padding-bottom:20px; }
.p-v-30{  padding-top:30px;  padding-bottom:30px; }
.p-v-40{  padding-top:40px;  padding-bottom:40px; }
.p-v-50{  padding-top:50px;  padding-bottom:50px; }
.p-v-60{  padding-top:60px;  padding-bottom:60px; }
.p-v-70{  padding-top:70px;  padding-bottom:70px; }
.p-v-90{  padding-top:90px;  padding-bottom:90px; }
.p-v-100{ padding-top:100px; padding-bottom:100px; }

.p-h-10{  padding-left:10px;  padding-right:10px; }
.p-h-20{  padding-left:20px;  padding-right:20px; }
.p-h-30{  padding-left:30px;  padding-right:30px; }
.p-h-40{  padding-left:40px;  padding-right:40px; }
.p-h-50{  padding-left:50px;  padding-right:50px; }
.p-h-60{  padding-left:60px;  padding-right:60px; }
.p-h-70{  padding-left:70px;  padding-right:70px; }
.p-h-90{  padding-left:90px;  padding-right:90px; }
.p-h-100{ padding-left:100px; padding-right:100px; }

.none{
    display:none !important;
}

.no-padding{
    padding:0px;
}

.flex{
    display:flex;
}

.flex-row{
    display:flex;
    flex-wrap:wrap;
}

.flex-v-center{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
}

.text-right{
    text-align:right;
}

.scrollable::-webkit-scrollbar{
    width:5px;
}

.scrollable::-webkit-scrollbar-thumb{
    border-radius:10px;
    background:#88e1e9;
}

.full-height{
    height:100%;
}

.clear{
    clear:both;
}

small{
    font-size: 20px;
    color: #b7b7b7;
}

h5{
    font-size: 24px;
    color: #000000;
    margin:0px;
}

.time{
    font-size: 24px;
    color: #b7b7b7;
    text-align:right;
}

.scrollable{
    overflow-y:auto;
    overflow-x:hidden;
    height:100%;
}

.scrollable::-webkit-scrollbar{
    width:7px;
}

.scrollable::-webkit-scrollbar-thumb{
    background:#58b7bf;
    border-radius:20px;
    box-shadow:0px 0px 5px #333;
}

/*~~ Bootstrap ~~*/

.jumbotron{
    width:100%;
    padding:80px 0px 40px 0px;
    background-size:cover;
    background-position:0 0;
    background-repeat:no-repeat;
    color:#fff;
}


/*~~ Footer ~~*/

footer{
    padding:40px;
    background:#58b7bf;
    color:#fff;
}

footer .menu{
    list-style:none;
}

footer .menu a{
    display:block;
    color:#fff;
    margin-bottom:10px;
}

footer .address{
    line-height:30px;
    margin-bottom:40px;
}

footer p{
    margin:0px;
}