/*~~ Button ~~*/

.btn{
    font-family: Lato-Light;
    padding:10px 20px;
    border-radius:0px;
}

.btn.btn-none{
    background:none;
    outline:none;
    border:none;
}

.btn.lg{
    height:60px;
    font-size: 20px;
    font-weight:bold;
    text-transform:uppercase;
}

.btn.btn-facebook{
    background:#3b5998;
    color:#fff;
    font-family:Lato-Regular;
    font-size: 20px;
    font-weight: bold;
    height:60px;
}

.btn.default{
    background:#5cc6d0;
    color:#fff;
}

.btn.third{
    background:#a5352b;
    color:#fff;
}

.btn.normal{
    height:40px;
}

.btn.btn-outline{
    font-family: Lato-Light;
    font-size: 24px;
    height:60px;
    background:transparent;
    outline:none;
    border:1px solid #fff;
    color:#fff;
    padding:0px 20px;
}

.btn.btn-lg{
    font-size: 24px;
    height:60px;
    padding:0px 20px;
}

.btn.full{
    height:100%;
    width:100%;
    text-transform:uppercase;
}
.btn.btn-outline-danger{
	background: transparent;
	border:1px solid #ec654c;
    color:#ec654c;
}
.btn-rounded{
	border-radius: 9px;
}
.note-editor .btn{
	padding: 5px 10px;
	background:transparent;
	border-radius: 3px;
}