/*~~ Fields ~~*/

.form-control.type-02{
    border:none;
    border-top:1px solid #88e1e9;
    border-bottom:1px solid #88e1e9;
    border-radius:0px;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
}

.form-control.normal{
    height:40px;
}

.form-control.type-02:hover,
.form-control.type-02:active,
.form-control.type-02:focus{
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
    outline:none;
}

.form-control.type-03{
    border:1px solid #88e1e9;
    border-radius:0px;
    font-size:20px;
    font-family:Lato-Regular;
}

.form-control.lg{
    height:60px;
}

.form-control-static.type-03{
    border:1px solid #88e1e9;
    border-radius:0px;
    font-size:18px;
    color:#595959;
}

.form-control-static.lg{
    min-height:60px;
    padding:20px;
}

.form-control-static.extra-lg{
    min-height:120px;
    padding:20px;
}

.form-control-static.type-02{
    border:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-bottom:1px solid #88e1e9;
}

/*~~ Select2 ~~*/

.select2.type-02.white + .select2-container--default .select2-selection--single .select2-selection__rendered{
    color:#fff;
}

.select2.type-02.white + .select2-container--default .select2-selection--single .select2-selection__arrow b{
    border-color:#fff transparent transparent transparent;
}

.select2.type-03 + .select2-container{
    border:1px solid #88e1e9;
}

.select2.type-03.lg + .select2-container,
.select2.type-03.lg + .select2-container--default .select2-selection--single .select2-selection__arrow{
    height:60px;
}

.select2.type-03.lg + .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height:60px;
    color:#a8a8a8;
    font-family:Lato-Regular;
    font-size:20px;
}

.select2.type-03.lg + .select2-container--default .select2-selection--single .select2-selection__arrow b{
    border-width: 10px 10px 0 10px;
    margin-left:-20px;
    border-color: #88e1e9 transparent transparent transparent;
}

/*~~ Textarea ~~*/

textarea.form-control.lg{
    height:80px;
    resize:vertical;
}

/*~~ Input Group ~~*/

.input-group.type-03.lg{
    height:60px;
}

.input-group.type-03 .form-control,
.input-group.type-03 .form-control-static{
    border:1px solid #5cc6d0;
}

.input-group.type-03.lg .form-control{
    height:60px;
    padding:20px 20px;
    font-size:18px;
}

.input-group.type-03.lg .form-control-static{
    min-height:60px;
    padding:20px 20px;
    font-size:18px;
}

.input-group.type-03.lg .input-group-addon{
    background:transparent;
    border:none;
    padding-top:0px;
    padding-bottom:15px;
    padding-left:0px;
}

/*~~ Css para checkbox ~~*/

.checkbox-default:not(:checked),
.checkbox-default:checked {
    position: absolute;
    left: -9999px;
}
.checkbox-default:not(:checked) + label,
.checkbox-default:checked + label {
    position: relative;
    padding-left: 1.95em;
    cursor: pointer;
}

.checkbox-default:not(:checked) + label:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width:1.25em;
    height:1.25em;
    border: 1px solid #5cc6d0;
    background: transparent;
    border-radius: 0px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}

.checkbox-default:checked + label:before{
    content: '';
    position: absolute;
    left: 0;
    top: -1px;
    width:1.25em;
    height:1.25em;
    border: 2px solid #5cc6d0;
    background: #5cc6d0;
    border-radius: 0px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}

.checkbox-default:not(:checked) + label:after,
.checkbox-default:checked + label:after {
    content: '✔';
    position: absolute;
    top: .2em; left: .2em;
    font-size: 1em;
    line-height: 0.8;
    color:#fff;
    transition: all .2s;
}

.checkbox-default[required="invalid"] + label,
.checkbox-default[required="invalid"]:not(:checked) + label:before{
    border-color:#e57373;
    color:#e57373;
}

.checkbox-default:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}

.checkbox-default:checked + label:after {
    opacity: 1;
    transform: scale(1);
}

/*~~ Css para radio ~~*/

.radio-default:not(:checked),
.radio-default:checked {
    position: absolute;
    left: -9999px;
}
.radio-default:not(:checked) + label,
.radio-default:checked + label {
    position: relative;
    padding-left: 1.95em;
    cursor: pointer;
}

.radio-default:not(:checked) + label:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width:1.25em;
    height:1.25em;
    border: 1px solid #5cc6d0;
    background: transparent;
    border-radius: 50px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}

.radio-default:checked + label:before{
    content: '';
    position: absolute;
    left: 0;
    top: -1px;
    width:1.25em;
    height:1.25em;
    border: 2px solid #5cc6d0;
    background: #5cc6d0;
    border-radius: 50px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}

.radio-default:not(:checked) + label:after,
.radio-default:checked + label:after {
    /*content: '✔';*/
    position: absolute;
    top: .2em; left: .2em;
    font-size: 1em;
    line-height: 0.8;
    color:#fff;
    transition: all .2s;
}

.radio-default[required="invalid"] + label,
.radio-default[required="invalid"]:not(:checked) + label:before{
    border-color:#e57373;
    color:#e57373;
}

.radio-default:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}

.radio-default:checked + label:after {
    opacity: 1;
    transform: scale(1);
}