.modal.type-01 .modal-content{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border:none;
}

.modal.type-01 .modal-content,
.modal.type-01 .modal-heading,
.modal.type-01 .modal-body,
.modal.type-01 .modal-footer{
    border-radius:0px;
}

.modal.type-01 .modal-body{
    padding:30px 45px 20px 45px;
    text-align:center;
}

.modal.type-01 .modal-body h3{
    font-family: Lato-Regular;
    font-size: 24px;
    font-weight: bold;
    color: #595959;
    margin:0px;
    margin-bottom:20px;
}

.modal.type-01 .modal-body p{
    font-family: Lato-Regular;
    font-size: 18px;
    color: #595959;
}

.modal.type-01 .modal-body .btn-facebook .fa{
    font-size:28px;
    margin-right:10px;
}

.modal.type-01 .modal-body .btn-facebook{
    margin-bottom:15px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.modal.type-01 .modal-body .forgot-password{
    font-family: Lato-Regular;
    font-size: 18px;
    color: #595959;
    text-decoration:underline;
    margin:0px;
    cursor:pointer;
}

.modal.type-01 .modal-footer{
    height:100px;
}

.modal.type-01 .modal-footer .btn{
    font-size: 20px;
    font-weight: bold;
    font-family:Lato-Regular;
}

.modal.type-01 .modal-footer .btn + .btn{
    margin:0px;
}
.modal.type-01 .header-happy, .modal.type-01 .header-happy button{
	background-color: #5cc6d0;
	color: white;
}
