/*~~ Custom Navbar ~~*/

.custom-navbar{
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    z-index:10;
    transition:0.5s;
    /*background:rgba(0,0,0,0.5);*/
}

.custom-navbar .container{
    width:95%;
}

.custom-navbar .menu{
    display:flex;
    justify-content:space-between;
    align-items:center;
    list-style:none;
}

.custom-navbar .menu .menu-item{
    color:#fff;
    padding:45px 20px;
}

.custom-navbar .menu .menu-item:first-child,
.custom-navbar .menu .menu-item:last-child{
    padding:25px 0px;
}

.custom-navbar .menu .menu-item:first-child img{
    width:55px;
    height:55px;
}

.custom-navbar .menu .menu-item:last-child{
    padding:0px;
}

.custom-navbar .menu .menu-item:last-child .form-group{
    padding-top:0px;
    margin:0px;
    flex-wrap:nowrap;
    justify-content:space-between;
}

.custom-navbar .menu .menu-item:last-child .form-group .form-control{
    margin-right:10px;
}

.custom-navbar .menu .menu-item:last-child .form-group .btn{
    height:34px;
    padding:0px 10px;
    background:#58b7bf;
    border-radius:4px;
    color:#fff;
    border:none;
    text-decoration:none !important;
}

.custom-navbar .menu .menu-item:last-child .form-group .cadastre-se{
    font-family: Lato;
    font-size: 12px;
    color: #ffffff;
    text-decoration:underline;
    cursor:pointer;
}

.custom-navbar .menu .menu-item > a{
    color:#fff;
}

.custom-navbar .menu .menu-item:hover .submenu{
    top:60px;
    margin-left:-70px;
    opacity:1;
    transition:0.5s;
}

.custom-navbar .menu .menu-item .submenu{
    position:absolute;
    top:-300px;
    margin-top:50px;
    margin-left:-115px;
    opacity:0;
    -webkit-box-shadow:0px 0px 10px #888;
    transition:0.3s;
}

.custom-navbar .menu .menu-item .submenu.minha-conta{
    margin-left:-50px;
}

.custom-navbar .menu .menu-item .submenu.funcionario{
    margin-left:-20px;
}

.custom-navbar .menu .menu-item .submenu .submenu-item{
    display:block;
    text-align:center;
    color:#298d96;
    padding:15px 25px;
    background:#fff;
}

.custom-navbar .menu .menu-item .submenu .submenu-item:not(:last-child){
    border-bottom:1px solid #5cc6d0;
}

.custom-navbar .menu .menu-item .submenu .submenu-item:first-child:after{
    content:"";
    position:absolute;
    left:44%;
    margin-top:-45px;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 30px solid #fff;
}

@media all and (max-width:992px){

    .custom-navbar .menu{
        /*display:none;*/
        display:flex;
        flex-direction:column;
    }

    .custom-navbar .menu .menu-item:first-child{
        text-align:left;
    }

    .custom-navbar .menu .menu-item{
        padding:10px;
    }

}

@media all and (max-width:768px){

    .has-post > div,
    .has-post > div .posts{
        padding:0px;
    }

    .posts::-webkit-scrollbar{
        width:0px;
    }

}