.custom-navbar{
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    z-index:99999;
}

.custom-navbar .container{
    width:92%;
}

.custom-navbar .menu{
    display:flex;
    align-items:center;
    justify-content:center;
    list-style:none;
}

.custom-navbar .menu .menu-item.logo{
    padding:10px 0px;
}

.custom-navbar .menu .menu-item.logo img{
    width:55px;
    height:55px;
}

.custom-navbar .menu .menu-item.fields{
    padding:10px 0px;
}

.custom-navbar .menu .menu-item.fields > .form-group{
    margin:0px;
}

.custom-navbar .menu .menu-item.fields > .form-group:first-child{
    width:250px;
    display:flex;
}

.custom-navbar .menu .menu-item.fields > .form-group:first-child .btn{
    padding:5px;
    margin-left:10px;
    color:#fff;
    background:transparent;
    border-radius:5px;
}

.custom-navbar .menu .menu-item.fields > .form-group .cadastre-se{
    font-size:14px;
    color:#fff;
    text-decoration:underline;
}

.custom-navbar .menu .menu-item,
.custom-navbar .menu .has-submenu > a{
    padding:10px 20px;
    color:#fff;
}

.custom-navbar .menu .has-submenu{
    display:flex;
    justify-content:center;
    align-items:center;
}

.custom-navbar .menu .has-submenu:hover .submenu{
    display:initial;
}

.custom-navbar .submenu{
    display:none;
    list-style:none;
    position:absolute;
    background:#fff;
    top:70px;
    box-shadow:0px 10px 10px #888;
}

.custom-navbar .submenu:before{
    content:"";
    display:block;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #fff;
    margin:-15px auto 10px auto;
}

.custom-navbar .submenu .submenu-item{
    padding:10px 20px !important;
    background:#fff;
    color:#333;
    text-decoration:none;
}
