.nossa-loja{
    height:800px;
    overflow:hidden;
}

.nossa-loja .sidebar{
    position:absolute;
    width:250px;
    height:800px;
    background:#fcfcfc;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.nossa-loja .sidebar::-webkit-scrollbar{
    width:5px;
}

.nossa-loja .sidebar::-webkit-scrollbar-thumb{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius:0px;
}

.nossa-loja .content:not(.header){
    float:right;
    padding:35px 65px;
    width:calc(100% - 250px);
    height:calc(100% - 65px);
}

.nossa-loja .header{
    float:right;
    padding:25px 65px;
    width:calc(100% - 250px);
    background:#5cc6d0;
    color:#fff;
}

.nossa-loja .sidebar .search{
    padding:18px 10px;
    margin:0px;
}

.nossa-loja .sidebar .search .input-group{
    border:1px solid #cdcdcd;
    background:#fcfcfc;
}

.nossa-loja .sidebar .search .input-group .input-group-addon{
    background:#fcfcfc;
    border:none;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
}

.nossa-loja .sidebar .search .input-group .form-control{
    background:transparent;
    border:none;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
    padding-left:0px;
}

.nossa-loja .sidebar .menu{
    display:flex;
    flex-direction:column;
}

.nossa-loja .sidebar .menu .menu-item.active{
    background:#5cc6d0;
    color:#fff;
}

.nossa-loja .sidebar .menu .menu-item.active h5{
    color:#fff;
}

.nossa-loja .sidebar .menu .menu-item{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    height:40px;
    cursor:pointer;
}

.nossa-loja .sidebar .menu .menu-item,
.nossa-loja .sidebar .menu .menu-item h5{
    color:#5cc6d0;
    text-decoration:none;
}

.nossa-loja .sidebar .menu .menu-item .happy-icons,
.nossa-loja .sidebar .menu .menu-item .material-icons{
    width:60px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.nossa-loja .sidebar .menu .menu-item:active .material-icons{
    color:#fff;
}

.nossa-loja .sidebar .menu .menu-item .happy-icons img{
    width:20px;
}

.nossa-loja .sidebar .menu .menu-item h5{
    font-size:14px;
}

.nossa-loja .sidebar .menu .menu-item.has-submenu:after{
    content:"";
    position:absolute;
    right:15px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #03a5ab;
}

.nossa-loja .sidebar .menu .submenu{
    display:flex;
    flex-direction:column;
    display:none;
}

.nossa-loja .sidebar .menu .submenu .submenu-item{
    color:#000;
    height:40px;
    display:flex;
    align-items:center;
    padding-left:60px;
}

.nossa-loja .sidebar .hor-line{
    width:calc(100% - 40px);
    height:1px;
    margin-top:20px;
    margin-left:20px;
    background:#03a5ab;
}

.nossa-loja .sidebar .filters{
    padding:20px;
}

.nossa-loja .header p{
    margin:0px;
    font-weight:normal;
}

.nossa-loja .header .btn{
    padding:0px;
    background:none;
    outline:none;
    border:none;
    color:#fff;
    font-weight:bold;
}

.nossa-loja .thumbnail{
    border:none;
    padding:0px;
}

.nossa-loja .thumbnail .image{
    border:1px solid #aaa;
    border-radius:20px;
    overflow:hidden;
}

.nossa-loja .thumbnail .caption{
    padding:10px 0px;
}


.nossa-loja .thumbnail .caption .desc{
    font-size: 14px;
    text-align: center;
    color: #3c3c3c;
}

.nossa-loja .thumbnail .caption .sku{
    font-size: 16px;
    text-align: center;
    color: #3978ac;
}

.nossa-loja .thumbnail .caption .price{
    font-size: 20px;
    text-align: center;
    color: #3c3c3c;
}

.nossa-loja .thumbnail .caption .credit-card{
    font-size: 16px;
    text-align: center;
    color: #3c3c3c;
}

.nossa-loja .thumbnail .promotion{
    position:absolute;
    right:-5px;
    top:-21px;
    background:#7ed321;
    color:#fff;
    padding:12px 5px;
    border-radius:50%;
}

.nossa-loja .content .pagination{
    width:100%;
    text-align:center;
}

.nossa-loja .content .pagination ul{
    list-style:none;
}

.nossa-loja .content .pagination ul li{
    display:inline;
    transition:0.3s;
}

.nossa-loja .content .pagination ul li a{
    padding:5px 10px;
    font-size:18px;
    background:transparent;
    border:2px solid #58b7bf;
    color:#03a5ab;
    text-decoration:none;
    transition:0.3s;
}

.nossa-loja .content .pagination ul li a:hover,
.nossa-loja .content .pagination ul li.active a{
    background:#58b7bf;
    color:#fff;
    transition:0.3s;
}

.modal#produto_view-modal .modal-dialog{
    width:80%;
}

.modal#produto_view-modal .modal-body .slick.slider-for img{
    width:100%;
    height:300px;
    object-fit:cover;
}

.modal#produto_view-modal .modal-body .slick.slider-nav img{
    width:80px;
    height:80px;
    object-fit:cover;
}

.modal#produto_view-modal .modal-body .row > div:last-child{
    text-align:left;
}

.modal#produto_view-modal .modal-body .title{
    font-size: 28px;
    font-weight: bold;
    color: #3c3c3c;
    margin-bottom:10px;
}

.modal#produto_view-modal .modal-body .sku{
    font-size: 14px;
    color: #3978ac;
    margin-top:10px;
}

.modal#produto_view-modal .modal-body .desc{
    font-size: 18px;
    color: #3c3c3c;
    margin-top:10px;
    white-space:normal
}

.modal#produto_view-modal .modal-body .ver-carrinho{
    font-size: 14px;
    color: #5cc6d0;
    text-decoration:underline;
    cursor:pointer;
    margin-top:10px;
}

.testimonial-group{
    width:100%;
}

.testimonial-group > .row {
    overflow-x: auto;
    white-space: nowrap;
}

.testimonial-group > .row::-webkit-scrollbar{
    height:7px;
}

.testimonial-group > .row::-webkit-scrollbar-thumb{
    background:#5cc6d0;
    border-radius:10px;
}

.testimonial-group > .row > .col-xs-3 {
    display: inline-block;
    float: none;
}

.testimonial-group > .row > .col-xs-3{
    padding-left:0px;
    padding-top:40px;
    padding-right:40px;
}

/* Decorations */
.col-xs-3 { color: #fff; font-size: 48px; padding-bottom: 10px; padding-top: 18px; }

.testimonial-group .thumbnail{
    border:none;
    padding:0px;
}

.testimonial-group .thumbnail .caption{
    padding:10px 0px;
}

.testimonial-group .thumbnail .image{
    border:1px solid #aaa;
    border-radius:20px;
    overflow:hidden;
}

.testimonial-group .thumbnail .caption .desc{
    font-size: 14px;
    text-align: center;
    color: #3c3c3c;
}

.testimonial-group .thumbnail .caption .sku{
    font-size: 16px;
    text-align: center;
    color: #3978ac;
}

.testimonial-group .thumbnail .caption .price{
    font-size: 20px;
    text-align: center;
    color: #3c3c3c;
}

.testimonial-group .thumbnail .caption .credit-card{
    font-size: 16px;
    text-align: center;
    color: #3c3c3c;
}

.testimonial-group .thumbnail .promotion{
    position:absolute;
    right: 17px;
    top: 16px;
    background:#7ed321;
    color:#fff;
    padding:12px 5px;
    border-radius:50%;
    font-size:18px;
}

.modal#produto_view-modal .related{
    text-align:left;
}