.table tbody tr td .image img{
    width:125px;
    object-fit:cover;
}

.table tbody tr td{
    vertical-align:middle;
}

.table tbody tr td .input-qt{
    width:100px;
}

.table > thead > tr > th{
    border-bottom-color:#58b7bf;
}

.table > tbody > tr > td{
    border-bottom:1px solid #58b7bf;
}

.table > tbody > tr > td a{
    text-decoration:underline;
    color:#000;
}

.table-none{
    margin-bottom:40px;
}

.table-none tr td .text h5,
.table-none tr td .text p{
    margin:0px;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    color: #000000;
}

.table-none tr td .text p{
    font-weight:initial;
}

.table-none tr td .text p.green{
    color:#417505;
}

.table-none tr td .text p.third{
    color:#d0021b;
}

.table-none tr td a{
    text-decoration:underline;
    color:#000;
    font-size: 20px;
}

.table-none tr td{
    padding-right:20px;
}

.table.datatable > thead > tr > th,
.table.datatable > tbody > tr > td{
    border-bottom:none;
    padding-left:15px;
}

.table.dataTable.no-footer{
    border-bottom:none;
}

.table.datatable > thead > tr > th:first-child,
.table.datatable > tbody > tr > td:first-child{
    border-left:1px solid #ddd;
}

.table.datatable > thead > tr > th:last-child,
.table.datatable > tbody > tr > td:last-child{
    border-right:1px solid #ddd;
}

.table.datatable > tbody > tr > td:last-child i.green{
    color:#bddd51;
    margin-right:15px;
    cursor:pointer;
}

.table.datatable > tbody > tr > td:last-child i.third{
    color:#d04653;
    cursor:pointer;
}

.table.datatable{
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
}

table.dataTable.no-footer{
    margin-bottom:20px;
}